
*{
	margin: 0px;
	font-family: "Arial";	
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
a:hover{
	color: green;
}

ul li {
	list-style: none;
}
.container{
	max-width: 1240px;
	margin: 0px 160px;
}
header{
	margin-top:10px; 
}
.logo-left {
	float: left;
}

.clear:after {
	clear: both;
	content: "";
	display: table;

}
.logo-left img{
	float: left;
}
.logo-right{
	float: left;
	margin: 10px 10px 10px 10px;
}
.header-right{
	float: right;
	margin: 20px 0px 0px 0px;
}
.logo-right .name{
	font-weight: bold;
	font-size: 20px;
}
.logo-right .title{
	font-size: 16px;
	margin: 5px 0px 0px 16px;
}
.header-right img{
	margin: 0px 5px -10px 0px;
}
.header-right .phone-number{
	font-size: 18px;
	color: #4cc1fc;
	margin-left: 5px;
}
.menu{
  border-top: 1px solid #8e8e8e;
  width: 100%;
  margin: 13px 0px 0px 0px;
}
.nav-menu-left ul li{
	float: left;
	padding: 13px 19px ;
	border-right: 1px solid #8e8e8e;
	margin-bottom: : 10px
}
.nav-menu-left ul li a{
	font-size: 12px;
	color: #8e8e8e;
}
.nav-menu-left a:hover{
	color:;
}
.social-network{
	float: right;
	margin: 10px 0px 0px 0px;
}
.social-network ul li{
	float: right;
	padding-right:10px;
}
.banner{
	background-image: url(../images/banner.jpg);
	height: 30%;
	width: 100%;
	background-repeat: no-repeat;
}
.in-page{
	padding-top: 70px;
}
.in-page a{
	color: #0d1d25;
	font-size: 12px;
	font-weight: normal;
}
aside{
	width: 25%;
	/*float: right;*/
}