<!DOCTYPE html5>                                      	 
<html>
<head>
	<title>PHÒNG KHÁM CHUYÊN KHOA - TRANG CHỦ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<header>

	<div class="container clear">

		<div class="logo">
			<div class="logo-left">
				<a href="#"><img src="../images/logo.png" alt="Phong kham chuyen khoa"></a>
				<div class="logo-right">
					<p class="name">PHÒNG KHÁM CHUYÊN KHOA</p>
					<p class="title">Vật lý trị liệu - Phục hồi chức năng</p>
				</div>
			</div>
			<!-- <div class="clear"></div> -->
		</div>

		<div class="header-right">
			<img src="../images/icon-phone.png">
			<span>Câu hỏi cho bác sĩ?</span>
			<span class="phone-number">05113941977</span>
		</div>
	</div>
	<nav class="menu clear">
		<div class="container">
			<div class="nav-menu-left">
				<ul >
					<li><a href="">TRANG CHỦ</a></li>
					<li><a href="">GIỚI THIỆU</a></li>
					<li><a href="">DỊCH VỤ Y TẾ</a></li>
					<li><a href="">Y HỌC THƯỜNG THỨC</a></li>
					<li><a href="">ĐẶT LỊCH KHÁM</a></li>
					<li><a href="">TƯ VẤN & LIÊN HỆ</a></li>
				</ul>
			</div>
			<div class="social-network clear">
				<ul >
					<li><a href=""><img src="../images/icon-facebook.png"></a></li>
					<li><a href=""><img src="../images/icon-google.png"></a></li>
					<li><a href=""><img src="../images/icon-youtube.png"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="banner">
			<div class="container">
			<div class="in-page">
				<a href="" title=""><span>TRANG CHỦ  /  DỊCH VỤ Y TẾ</span></a>
			</div>
																																
		</div>
	</div>
</header>

<main class="container">
	<aside>
		<div class="list-sick">
			<div class="name-people clear">
				<p>NGƯỜI LỚN</p>
				<a href=""><img src="../images/add.png"></a>

			</div>
			<ul>
				<li><a href="" title="">Đau cổ-vai-tay</a></li>
				<li><a href="" title="">Đau cột sống</a></li>
				<li><a href="" title="">Thoát vị đĩa đệm</a></li>
				<li><a href="" title="">Khớp gối, khớp hông</a></li>
				<li><a href="" title="">Đau chân</a></li>
				<li><a href="" title="">Các bênh về cơ</a></li>
				<li><a href="" title="">Thần kinh ngoại biên</a></li>
				<li><a href="" title="">Di chứng tai biến mạch máu não</a></li>
				<li><a href="" title="">Di chứng chấn thương</a></li>
			</ul>
		</div>
		<div class="list-sick">
			<div class="name-people clear">
				<p>TRẺ EM</p>
				<a href=""><img src="../images/add2.png"></a>
			</div>	
		</div>

		<div class="form-calendar">
			<p>ĐẶT LỊCH KHÁM</p>
			<form action="" method="">
				<input type="text" name="fullname" placeholder="Họ & Tên"><br>
				<input type="text" name="address" placeholder="Địa chỉ"><br>
				<input type="text" name="phone-number" placeholder="Số điện thoại"><br>
				<input type="datetime" name="time" placeholder="Thời gian"><br>
				<input type="submit" value="ĐẶT LỊCH">
			</form>
		</div>
	</aside>

	<div class="content">
		<div class="col-main clear">
			<ul>
				<li class="item">
					<div class="image">
						<img src="../images/new-1.jpg" alt="news-1">
					</div>
					<div class="description">
						<a href="" title=""><h3>ĐAU CỔ VAI TAY</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-2.jpg" alt="news-2">
					</div>
					<div class="description">
						<a href="" title=""><h3>ĐAU CỘT SỐNG</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-3.jpg" alt="new-3">
					</div>
					<div class="description">
						<a href="" title=""><h3>THOÁI VỊ ĐĨA ĐỆM</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-4.jpg" alt="new-4">
					</div>
					<div class="description">
						<a href=""><h3>CHẬM NÓI</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-5.jpg" alt="new-5">
					</div>
					<div class="description">
						<a href="" title=""><h3>CHẬM NÓI</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-6.jpg" alt="new-5">
					</div>
					<div class="description">
						<a href="" title=""><h3>CHẬM NÓI</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-7.jpg" alt="new-7">
					</div>
					<div class="description">
						<a href="" title=""><h3>CHẬM NÓI</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a  href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-8.jpg" alt="new-8">
					</div>
					<div class="description">
						<a href="" title=""><h3>CHẬM NÓI</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>

				<li class="item">
					<div class="image">
						<img src="../images/new-9.jpg" alt="new-9">
					</div>
					<div class="description">
						<a href="" title=""><h3>CHẬM NÓI</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
					</div>
					<a href="" title=""><img src="../images/arrow2.png"></a>
				</li>
			</ul>
		</div>
	</div>
</main>
<div class="clear"></div>
<footer>
		<div class="information clear">
			<div class="footer-row">
				<p>VỀ PHÒNG KHÁM</p>
				<ul>
					<li><a href="" title="">GIỚI THIỆU CHUNG</a></li>
					<li><a href="" title="">NHÂN LỰC</a></li>
					<li><a href=" " title="">TRANG THIẾT BỊ VÀ CƠ SỞ VẬT CHẤT</a></li>
				</ul>
			</div>
			<div class="footer-row">
				<p>HỖ TRỢ</p>
				<ul>
					<li><a href="" title="">TƯ VẤN SỨC KHỎE</a></li>
					<li><a href="" title="">Y HỌC THƯỜNG THỨC</a></li>
					<li><a href="" title="">ĐẶT LỊCH KHÁM</a></li>
				</ul>
			</div>
			<div class="footer-row">
				<p>KẾT NỐI XÃ HỘI</p>
				<ul class="footer-social">
					<li><a href="" title=""><img src="../images/icon-facebook.png">FACEBOOK</a></li>
					<li><a href="" title=""><img src="../images/icon-google.png">GOOGLE+</a></li>
					<li><a href="" title=""><img src="../images/icon-youtube.png">YOUTUBE</a></li>
				</ul>
			</div>
		</div>
		
		<div class="copyright clear">
			<p class="cp-left">@2015 - BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN ĐA KHOA</p>
			<!-- <p><span class="cp-right">PHÁT TRIỂN BỞI </span><span style="color:#7ff4cb">KOVO.VN</span></p> -->
			<p class="cp-right">PHÁT TRIỂN BỞI <span style="color: #7ff4cb">KOVO.VN</span></p>
</footer>

</body>
</html>